.root {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
  margin: 0.15rem;
  color: var(--color-text-primary);

  &.small {
    width: 1.5rem;
    right: 1.5rem;
  }

  &.medium {
    width: 2rem;
    height: 2rem;
  }

  &.large {
    width: 3rem;
    height: 3rem;
  }

  &:not(:disabled) {
    cursor: pointer;

    &:hover,
    &:active {
      background-color: rgba(0, 0, 0, 0.05);
    }
  }

  &:disabled {
    svg {
      fill: var(--color-disabled-element);
    }

    path {
      stroke: var(--color-disabled-element);
    }
  }

  svg {
    fill: currentColor;
  }
}
