@import "../../../../styles/shared";

.root {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
  margin-top: -$nav-height;
  padding-top: calc(200px + #{$nav-height});

  @include for-tablet-and-desktop {
    padding-top: $nav-height;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
