.root {
    position: fixed;
    top: 0;
    right: 0;
    .bg {
        background-image: linear-gradient(45deg, #6303B1, #ff0099);
    // transform: skewY(-45deg);
    width: 0; 
  height: 0; 
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent; 
  
  border-right:100px solid blue;
        
    }

    .avatarContainer {
    z-index: 10;
    margin-left: -15.7vw;

        .avatar {
            border-radius: 50%;
        }
    }
    
}