@import "src/styles/shared";

.root {
  @include common-section;
  overflow: hidden;
  position: relative;

  .list {
    margin-top: 1rem;
    position: relative;
    margin-left: 0;
  }

  // .grid {
  //   transition: var(--transition);
  // }

  .item {
    cursor: pointer;
    transition: var(--transition);

    &:not(.selected):hover {
      transform: translateY(-0.25rem);
    }
  }
}
