@import "./shared";

$color-dark-text-primary: rgba(255, 255, 255, 0.75);
$color-dark-text-secondary: #ffffff;
$color-dark-text-disabled: rgba(255, 255, 255, 0.5);
$color-dark-text-hint: rgba(255, 255, 255, 0.25);
$color-dark-text-heading: #ffffff;
$color-bg-dark: #2d3436;
$color-bg-card-dark: lighten($color-bg-dark, $amount: 10%);
$color-bg-secondary-dark: #363e40;
$color-border-dark: #ccd8de;

.dark {
  --color-text-primary: #{$color-dark-text-primary};
  --color-text-secondary: #{$color-dark-text-secondary};
  --color-text-disabled: #{$color-dark-text-disabled};
  --color-text-hint: #{$color-dark-text-hint};
  --color-text-heading: #{$color-dark-text-heading};
  --color-bg: #{$color-bg-dark};
  --color-bg-card: #{$color-bg-card-dark};
  --color-bg-secondary: #{$color-bg-secondary-dark};
  --color-border: #{$color-border-dark};
}
