@import 'src/styles/shared';

.root {
  max-width: 30rem;
  margin-top: 10rem;
  min-height: calc(100vh - 200px - #{$nav-height} - 11rem);
  

  @include for-tablet-and-desktop {
    min-height: calc(100vh - #{$nav-height} - 11rem);
  }

  .heading {
    .light {
      font-weight: 400;
    }
  }

  .button {
    margin-top: 2rem;
  }
}
