@import "../../../../styles/shared";

.root {
  @include common-container;

  min-height: $nav-height;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  z-index: $z-index-navbar;
  position: sticky;
}
