@import "src/styles/dark";
@import "src/styles/shared";

.root {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-primary);
  border-radius: 1rem;
  transition: var(--transition);

  &.medium {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: 1.5rem;
    border-radius: 1.25rem;
  }

  &.small {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  &.large {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
    line-height: 1.75rem;
    border-radius: 1.5rem;
  }

  /* ---- COLORS ---- */
  --accent-color: #{$color-primary};

  &.contained {
    background-color: var(--accent-color);
  }

  &.primaryColor {
    --accent-color: #{$color-primary};
  }

  &.secondaryColor {
    --accent-color: #{$color-secondary};
  }

  &.whiteColor {
    --accent-color: #{$color-gray-light};
  }

  &.blackColor {
    --accent-color: #{$color-bg-card-dark};
  }

  &.grayColor {
    --accent-color: #{$color-gray-dark};
  }

  &.transparentColor {
    --accent-color: transparent;
  }

  &.redColor {
    --accent-color: #{$color-red};
  }

  &.orangeColor {
    --accent-color: #f0932b;
  }

  &.yellowColor {
    --accent-color: #f9ca24;
  }

  &.greenColor {
    --accent-color: #6ab04c;
  }

  &.tealColor {
    --accent-color: #22a6b3;
  }

  &.blueColor {
    --accent-color: #4834d4;
  }

  &.cyanColor {
    --accent-color: #22a6b3;
  }

  &.purpleColor {
    --accent-color: #be2edd;
  }

  &.pinkColor {
    --accent-color: #ff7979;
  }

  &.cyanColor.contained,
  &.secondaryColor.contained,
  &.whiteColor.contained,
  &.grayColor.contained,
  &.yellowColor.contained {
    color: $color-bg-dark;
  }

  &.blueColor.contained,
  &.primaryColor.contained,
  &.blackColor.contained {
    color: $color-gray-light;
  }

  /* OUTLINED BUTTONS */
  &.outlined {
    border-width: 1px;
    border-style: solid;
    border-color: var(--accent-color);
  }

  &:not(:last-child) {
    margin-right: 0.5rem;
  }

  &:not(:first-child) {
    margin-top: 0.5rem;
  }

  &.isSelected {
    &.contained {
      border: 2px solid darken($color-primary, 10%);
    }

    &:not(.contained) {
      background-color: darken($color-primary, 10%);
    }
  }

  &.clickable {
    cursor: pointer;
    user-select: none;

    &:hover:not(.disabled) {
      filter: brightness(0.9);

      &.transparentColor,
      &.outlined {
        background-color: darken($color-primary, 5%);
      }
    }
  }

  .icon {
    margin-right: 0.5rem;
  }
}
