@import 'src/styles/shared';

.root {
    flex-direction: column-reverse;

    @include for-desktop {
        flex-direction: row;
        align-items: center;
    }

    .list {
        margin-top: 2rem;

        .listItem {
            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    .techs {
        margin-top: 2rem;
    }

    .image {
        width: 100%;
    }
}